[type="datetime-local"]::-webkit-datetime-edit {
    padding: 0;
    display: inline-flex;
}
[type="datetime-local"]::-webkit-datetime-edit-fields-wrapper,
[type="datetime-local"]::-webkit-datetime-edit-ampm-field,
[type="datetime-local"]::-webkit-datetime-edit-day-field,
[type="datetime-local"]::-webkit-datetime-edit-hour-field,
[type="datetime-local"]::-webkit-datetime-edit-millisecond-field,
[type="datetime-local"]::-webkit-datetime-edit-minute-field,
[type="datetime-local"]::-webkit-datetime-edit-month-field,
[type="datetime-local"]::-webkit-datetime-edit-second-field,
[type="datetime-local"]::-webkit-datetime-edit-week-field,
[type="datetime-local"]::-webkit-datetime-edit-year-field {
    padding-top: 0;
    padding-bottom: 0;
}

[type="time"]::-webkit-datetime-edit {
    padding: 0;
    display: inline-flex;
}
[type="time"]::-webkit-datetime-edit-fields-wrapper,
[type="time"]::-webkit-datetime-edit-ampm-field,
[type="time"]::-webkit-datetime-edit-day-field,
[type="time"]::-webkit-datetime-edit-hour-field,
[type="time"]::-webkit-datetime-edit-millisecond-field,
[type="time"]::-webkit-datetime-edit-minute-field,
[type="time"]::-webkit-datetime-edit-month-field,
[type="time"]::-webkit-datetime-edit-second-field,
[type="time"]::-webkit-datetime-edit-week-field,
[type="time"]::-webkit-datetime-edit-year-field {
    padding-top: 0;
    padding-bottom: 0;
}
